NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hospital_sim
DB_POOL_MAX=30
JWT_SECRET=troque-este-segredo
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info
SEED_PATIENTS=5000
SEED_DOCTORS=80
SEED_APPOINTMENTS=18000
SEED_EXAMS=14000
